# Start rewrite engine
<IfModule mod_rewrite.c>
  RewriteEngine On

  # Rewrite "domain.com -> www.domain.com"
  # RewriteCond %{HTTPS} !=on
  # RewriteCond %{HTTP_HOST} !^www\..+$ [NC]
  # RewriteCond %{HTTP_HOST} (.+)$ [NC]
  # RewriteRule ^(.*)$ http://www.%1/$1 [R=301,L]

  # Remover o /view/  das url dos sites Ga
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !^\/?view(.*)$
  RewriteRule ^(.*)$ view/$1 [QSA]
  RewriteRule ^/?$ view/home/ [QSA,NS,L]
</IfModule>

Redirect 301 /home http://www.passarelli.adv.br